{% extends "layout.html" %}

{% block banner %}
  <div class="container-fluid pt-2 pb-2 bar">
    <div class="row">
      <div class="col-md-11">
      </div>
      <div class="col-md-1">
        <a href="{{ url_for('logout') }}" class="btn button_color" role="button">Sign Out</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block blogContent %}
<div class="container">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-10">
      <div class="mb-3 card border-info">
        <img src="{{ url_for('static', filename='book.png') }}" class="card-img-top" alt="..." width="200" height="60">
        <div class="card-body">
          <div class="media">
            <img src="{{ url_for('static', filename='picture.png') }}" class="align-self-center mr-3" alt="..." width="180">
            <div class="media-body" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
              <h2 class="mt-2 mb-3 pt-3 border-bottom" style="padding-left: 30px;">{{ book.title }}</h2>
              <div class="container mt-5 pb-2">
                <div class="row">
                  <div class="col-6">
                    <ul class="list-group list-group-flush" style="font-size: medium; font-weight: bold;">
                      <li class="list-group-item">Author:</li>
                      <li class="list-group-item">ISBN:</li>
                      <li class="list-group-item">Published year:</li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{ book.author }}</li>
                      <li class="list-group-item">{{ book.isbn }}</li>
                      <li class="list-group-item">{{ book.year }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} flash_box flash_text_success rounded">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <!-- ------FORM---------- -->
      <form method="POST" action="">
        {{ form.hidden_tag() }}
      <fieldset class="form-group mt-5">
        <legend class="border-bottom mb-4 head_font">Like this book?</legend>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors %}
              {{ form.content(class="form-control form-control-md is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.content.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.content(class="form-control form-control-md") }}
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-secondary button_color") }}
        </div>
      </fieldset>
      </form>
      <!-- ---------FORM----------- -->
    </div>
    <div class="col"></div>
  </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col"></div>
    <div class="col-8">
      <!-- -----REVIEW------- -->
      {% for review in reviews.items %}
      <div class="mb-3">
        <div class="card-body review_content">
          <div class="review_head pl-4 pt-1">
            {{ review.reviewer.username }}:
          </div>
          <blockquote class="blockquote mb-0 pt-3" style="font-size: 15px;">
            <p>{{ review.content }}</p>
            <footer class="blockquote-footer"><small class="text-muted"><cite title="Source Title">Reviewed on: {{ review.date.strftime('%d-%m-%Y') }}</cite></small></footer>
          </blockquote>
        </div>
      </div>
      {% endfor %}

      <div class="text-center">
        {% if reviews.items|length > 3 %}
          {% for page_num in reviews.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if reviews.page == page_num %}
                <a class="btn btn-secondary btn-sm mb-4" href="{{ url_for('book', id=book.id, page=page_num) }}">{{ page_num }}</a>
              {% else %}
                <a class="btn btn-outline-secondary btn-sm mb-4" href="{{ url_for('book', id=book.id, page=page_num) }}">{{ page_num }}</a>
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}
        {% else %}
        <p></p>
        {% endif %}
      </div>
      <!-- --------REVIEW-------- -->
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock blogContent %}
          

{% block bottom %}
<div class="container-fluid pt-2 pb-2 button_color footer">
  <div style="width:500px; height:50px;"></div>
</div>
{% endblock %}