{% extends "layout.html" %}

{% block banner %}
<img src="{{ url_for('static', filename='book.png') }}" class="img-fluid" alt="..">
{% endblock %}

{% block blogContent %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} flash_box flash_text rounded">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
</div>

<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col align-self-start">
    </div>
    <div class="col align-self-center border-left border-right box_color pb-4 pt-3 rounded">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4 head_font">Sign In</legend>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-md") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-md") }}
            {% endif %}
          </div>
          <div class="form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-secondary button_color") }}
        </div>
        <small class="text-muted">
          <a href="#">Forgot Password?</a>
        </small><br>
        <small class="text-muted border-top pt-1">
          Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Register Now</a>
        </small>
      </form>

    </div>
    <div class="col align-self-end">
    </div>
  </div>
</div>
{% endblock blogContent %}

{% block bottom %}
<div class="container-fluid pt-2 pb-2 button_color footer">
  <div style="width:500px; height:50px;"></div>
</div>
{% endblock %}