{% extends "layout.html" %}

{% block banner %}
<img src="{{ url_for('static', filename='book.png') }}" class="img-fluid" alt="..">
{% endblock %}

{% block blogContent %}
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col align-self-start">
    </div>
    <div class="col align-self-center border-left border-right box_color pb-4 rounded">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <legend class="border-bottom mb-4 pt-3 head_font">Create New Account</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
          {{ form.username(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.username(class="form-control form-control-md") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
          {{ form.email(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.email(class="form-control form-control-md") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
          {{ form.password(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.password(class="form-control form-control-md") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirmPassword.label(class="form-control-label") }}
          {% if form.confirmPassword.errors %}
          {{ form.confirmPassword(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.confirmPassword.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.confirmPassword(class="form-control form-control-md") }}
          {% endif %}
        </div>
        {{ form.submit(class="btn btn-outline-secondary button_color") }}
        <a href="{{ url_for('login') }}" class="btn btn-outline-secondary" role="button">Sign In</a>
      </form>
    </div>
    <div class="col align-self-end">
    </div>
  </div>
</div>
{% endblock blogContent %}

{% block bottom %}
<div class="container-fluid pt-2 pb-2 button_color footer">
  <div style="width:500px; height:50px;"></div>
</div>
{% endblock %}