.box_color {
  background-color: rgb(252, 200, 103);
}

.text_color {
  color: rgb(16, 55, 99);
}

.button_color {
  background-color: rgb(44, 90, 143);
  color:  rgb(248, 174, 37);
}

.head_font {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.flash_text {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(187, 29, 29);
}

.flash_box {
  background-color: rgb(165, 182, 201);
  border-color: rgb(248, 174, 37) ;
  border-radius: 6px;
}

.bar {
  background-color: rgb(248, 174, 37);
}

.result {
  background-color: rgba(196, 208, 214, 0.993);
  border-radius: 15px;
  padding-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
  left: 0;
  right: 0;
  bottom: 0;
}


